absl-py==2.1.0
amqp==5.2.0
annoy==1.17.3
asttokens==2.4.1
astunparse==1.6.3
attrs==24.2.0
billiard==4.2.0
blinker==1.8.2
cachetools==5.4.0
celery==5.4.0
certifi==2024.7.4
charset-normalizer==3.3.2
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
cloudpickle==3.0.0
colorama==0.4.6
contextlib2==21.6.0
contourpy==1.2.1
cors==1.0.1
cycler==0.12.1
decorator==5.1.1
etils==1.5.2
exceptiongroup==1.2.2
executing==2.0.1
filelock==3.15.4
Flask==3.0.3
Flask-Cors==4.0.1
flatbuffers==24.3.25
fonttools==4.53.1
fsspec==2024.6.1
future==1.0.0
gast==0.6.0
gensim==4.2.0
gevent==24.2.1
google-api-core==2.19.1
google-auth==2.33.0
google-auth-oauthlib==1.2.1
google-cloud-core==2.4.1
google-cloud-translate==3.15.5
google-pasta==0.2.0
googleapis-common-protos==1.63.2
greenlet==3.0.3
grpcio==1.65.4
grpcio-status==1.62.3
h5py==3.11.0
huggingface-hub==0.24.5
idna==3.7
imageio==2.34.2
importlib_metadata==8.2.0
importlib_resources==6.4.0
ipython==8.18.1
itsdangerous==2.2.0
jedi==0.19.1
Jinja2==3.1.4
joblib==1.4.2
keras==2.15.0
kiwisolver==1.4.5
kombu==5.4.0
lazy_loader==0.4
Levenshtein==0.25.1
libclang==18.1.1
lit-nlp==1.2
llvmlite==0.43.0
lxml==5.2.2
Markdown==3.6
MarkupSafe==2.1.5
matplotlib==3.7.5
matplotlib-inline==0.1.7
ml-collections==0.1.1
ml-dtypes==0.3.2
networkx==3.2.1
nltk==3.8.1
numba==0.60.0
numpy==1.24.4
oauthlib==3.2.2
opt-einsum==3.3.0
packaging==24.1
pandas==2.2.2
parso==0.8.4
pexpect==4.9.0
pillow==10.4.0
portalocker==2.10.1
portpicker==1.6.0
prompt_toolkit==3.0.47
proto-plus==1.24.0
protobuf==4.25.4
psutil==6.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
pyasn1==0.6.0
pyasn1_modules==0.4.0
Pygments==2.18.0
pynndescent==0.5.13
pyparsing==3.1.2
PySocks==1.7.1
python-dateutil==2.9.0.post0
pytz==2024.1
PyYAML==6.0.2
rapidfuzz==3.9.6
regex==2024.7.24
requests==2.32.3
requests-file==2.1.0
requests-oauthlib==2.0.0
rouge-score==0.1.2
rsa==4.9
sacrebleu==2.4.2
safetensors==0.4.4
saliency==0.2.1
scikit-image==0.24.0
scikit-learn==1.5.1
scipy==1.10.1
shap==0.45.1
six==1.16.0
slicer==0.0.8
smart-open==7.0.4
stack-data==0.6.3
tabulate==0.9.0
tensorboard==2.15.2
tensorboard-data-server==0.7.2
tensorflow==2.15.1
tensorflow-estimator==2.15.0
tensorflow-io-gcs-filesystem==0.37.1
termcolor==2.4.0
threadpoolctl==3.5.0
tifffile==2024.7.24
tldextract==5.1.2
tokenizers==0.19.1
tqdm==4.66.5
traitlets==5.14.3
transformers==4.43.4
typing_extensions==4.12.2
tzdata==2024.1
umap-learn==0.5.6
urllib3==2.2.2
vine==5.1.0
wcwidth==0.2.13
Werkzeug==3.0.3
wordcloud==1.9.3
wrapt==1.14.1
zipp==3.19.2
zope.event==5.0
zope.interface==7.0.1
